<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127726397965-77ca0s29s5kuip6c3sk06uugu2sqrfun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127726397965-77ca0s29s5kuip6c3sk06uugu2sqrfun</string>
	<key>API_KEY</key>
	<string>AIzaSyDx9G6pD678fkfwJF7IEM0ENttiBQaINHI</string>
	<key>GCM_SENDER_ID</key>
	<string>127726397965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.l3pcurves.l3pflighttester</string>
	<key>PROJECT_ID</key>
	<string>sds-flight-tester</string>
	<key>STORAGE_BUCKET</key>
	<string>sds-flight-tester.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127726397965:ios:510f2f33628c608f144344</string>
</dict>
</plist>